@model React.Sample.Mvc4.Models.AuthorModel


        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GithubUsername)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GithubUsername)
            @Html.ValidationMessageFor(model => model.GithubUsername)
        </div>
